doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Backland
        link(href='https://fonts.googleapis.com/css?family=Oswald:300,400', rel='stylesheet')
        // inject:css
        // endinject
    body
        header.header
            button.header__toggle
                span
                span
                span
            button.header__logo.header__item
                svg(version='1.0', viewbox='0 0 760 180', xmlns='http://www.w3.org/2000/svg')
                    g(transform='translate(360 -372.36)')
                        g(transform='matrix(10.456 0 0 -10.456 -294.86 377.35)')
                            path(d='m0 0s1.574-7.345 1.681-8.163c0.237-1.789 0.94-2.546 1.682-3.834 0.651-1.132 2.372-3.771 2.372-3.771l-5.734 3.049-5.734-3.049s1.715 2.644 2.372 3.746c0.792 1.325 1.436 2.028 1.682 3.875l1.679 8.147', fill='#ed1a3a')
                        g(transform='matrix(10.456 0 0 -10.456 257.67 445.48)')
                            path(d='m0 0h3.269l-3.044-6.191h-3.268l3.043 6.191', fill='#ed1a3a')
                        g(transform='matrix(10.456 0 0 -10.456 389.54 485.65)')
                            path(d='m0 0c-0.279-0.634-1.365-2.497-5.777-2.497-3.076 0-4.404 1.161-4.178 2.818 0.272 2.004 2.64 3.668 6.251 3.668 2.361 0 4.389-0.598 4.195-2.453h-3.091c0.11 0.58-0.319 0.91-1.33 0.91-1.813 0-2.632-1.214-2.752-2.091-0.069-0.511 0.03-1.309 1.53-1.309 1.026 0 1.661 0.408 1.943 0.954h3.209', fill='#ed1a3a')
                        g(transform='matrix(10.456 0 0 -10.456 -139.2 487.1)')
                            path(d='m0 0h2.036l-0.104 1.856h-0.03l-1.902-1.856zm1.344 3.981h3.21l0.805-6.192h-3.208l-0.058 0.883h-3.462l-0.937-0.883h-3.329l6.979 6.192', fill='#ed1a3a')
                        g(transform='matrix(10.456 0 0 -10.456 74.366 471.86)')
                            path(d='m0 0c-0.124-0.918-0.948-2.272-2.91-2.272-1.278 0-1.572 0.563-1.496 1.126 0.126 0.92 0.948 2.273 2.91 2.273 1.279 0 1.572-0.564 1.496-1.127zm-1.145 2.671c-1.713 0-3.188-0.384-4.302-1.006l0.422 0.858h-9.152l-0.78-1.586h2.942l-2.262-4.605h3.268l2.262 4.605h2.278c-0.641-0.589-1.045-1.288-1.148-2.038-0.244-1.787 1.457-2.714 4.459-2.714 3.609 0 6.189 1.691 6.47 3.771 0.259 1.891-1.456 2.715-4.457 2.715', fill='#ed1a3a')
                        g(transform='matrix(10.456 0 0 -10.456 81.1 507.29)')
                            path(d='m0 0c1.695 0.742 2.786 1.947 2.971 3.307 0.101 0.738-0.076 1.325-0.496 1.774l0.437 0.831h4.563l-0.32-3.33h0.03l3.351 3.33h4.65l-3.102-6.191h-3.031l2.215 4.267h-0.029l-4.057-4.267h-2.423l0.195 4.267h-0.03l-2.036-4.267h-3.032l0.144 0.279', fill='#ed1a3a')
            nav.header__nav
                ul
                    li
                        button.header__item le ski
                    li
                        button.header__item la performance
                    li
                        button.header__item chris benchetler
                    li
                        button.header__item personnaliser
        .grid
            .grid__bar
            .grid__bar
            .grid__bar
            .grid__bar
            .grid__bar
        main.container
            section.section.landing
                .landing__background
                    .landing__background-img
                        img(src=require("./assets/img/mountain-4-blur.png"), alt='mountain background')
                    .landing__background-img
                        img(src=require('./assets/img/mountain-3-blur.png'), alt='mountain background')
                    .landing__background-img
                        img(src=require('./assets/img/mountain-2-blur.png'), alt='mountain background')
                    .landing__background-img
                        img(src=require('./assets/img/mountain-1.png'), alt='mountain background')
                .landing__title.landing__title__behind
                    span.landing__title-shadow Backland
                .landing__title
                    h1.landing__title-text Backland
                    p.landing__title-description
                        Magna ea nisi officia amet culpa qui reprehenderit exercitation eiusmod eu sint aliquip. Ullamco eiusmod
                        nisi ullamco mollit.
                button.landing__next.next__button
                    span
                        svg.landing__next-icon(viewbox='0 0 20 20')
                            path(fill='none', d='M1.729,9.212h14.656l-4.184-4.184c-0.307-0.306-0.307-0.801,0-1.107c0.305-0.306,0.801-0.306,1.106,0 l5.481,5.482c0.018,0.014,0.037,0.019,0.053,0.034c0.181,0.181,0.242,0.425,0.209,0.66c-0.004,0.038-0.012,0.071-0.021,0.109 c-0.028,0.098-0.075,0.188-0.143,0.271c-0.021,0.026-0.021,0.061-0.045,0.085c-0.015,0.016-0.034,0.02-0.051,0.033l-5.483,5.483 c-0.306,0.307-0.802,0.307-1.106,0c-0.307-0.305-0.307-0.801,0-1.105l4.184-4.185H1.729c-0.436,0-0.788-0.353-0.788-0.788 S1.293,9.212,1.729,9.212z')
            section.section.ski
                .ski__section-background
                    img(src=require('./assets/img/background-ski-2.jpg'), alt='')
                .ski__section-about
                    h2.about__title élargissez <br>votre <br>horizon.
                    p.about__text
                        | L’Atomic Backland Bent Chetler est un ski culte pour tous les amateurs de grosses virées en poudreuse. Il
                        | offre non seulement une meilleure portance dans la neige profonde, mais permet également d’exploiter de
                        | nouvelles possibilités dans la poudreuse.
                    button.about__button découvrir
                .ski__section-video.video
                    .video__skip-container
                        svg.video__skip-line
                        button.video__skip-button skip                        
            section.section.performance
                .performance__transition
                    each val in [1,2,3,4,5,6]
                        .performance__transition-item
                .performance__visualization
                    svg.performance__visualization-svg
                        defs
                            filter(id="shadow", x="-100%", y="-100%", width="300%", height="300%")
                                feOffset(result="offOut", in="SourceAlpha", dx="" dy="0")
                                feGaussianBlur(result="blurOut" in="offOut", stdDeviation="10")
                                feBlend(in="SourceGraphic", in2="blurOut", mode="normal")
            section.section.chris
            section.section.creation
                .title
                    h2 Personnaliser
                    .title-legend
                        p.title-legend-text Backland
                        .title-legend-line
                .background.rellax(data-rellax-speed='1')
                .content
                    .content-left
                        .content-left-ski.content-left-ski__planche.visible(style=`background-image:url(${require("./assets/ski.png")})`)
                        .content-left-ski.content-left-ski__fixation(style=`background-image:url(${require("./assets/th_tracker.png")})`)
                        .content-left-ski.content-left-ski__fixation(style=`background-image:url(${require("./assets/sth.png")})`)
                        .content-left-ski.content-left-ski__planche(style=`background-image:url(${require("./assets/back.png")})`)
                    .content-right
                        .right-height
                            .right-title
                                p Taille de ski
                            .select
                                p.select-title Taille de ski
                                .select-content
                                    .select-value(data-value='150') 150 cm
                                    .select-value(data-value='160') 160 cm
                                    .select-value(data-value='170') 170 cm
                                    .select-value(data-value='180') 180 cm
                                    .select-value(data-value='190') 190 cm
                        .right.fixations
                            .right-title
                                p Bindings
                            .fixations-name
                                p.fixations-name-value Sans fixation
                            .fixations-select
                                .fixation.active(data-name='Sans fixation', data-shortcode='null')
                                .fixation(data-name='T Tracker MNC 16 L', data-index='0', data-shortcode='th', style=`background-image:url(${require("./assets/th_tracker.png")})`)
                                .fixation(data-name='STH WTR 16', data-index='1', data-shortcode='sth', style=`background-image:url(${require("./assets/sth.png")})`)
                        .right.price
                            p.price-text
                            button.price-btn BUY
    // inject:js
    // endinject
