section.section.creation
    .creation__title
        |Personnaliser
    .creation__price
        |699.00€
    button.creation__display__back
        |voir l'arrière
    .creation__ski
        .creation__ski_item
            img.ski__back(src=require('./../../assets/img/ski1-back.png'))        
            img.ski__front(src=require('./../../assets/img/ski1-front.png'))
            .ski__fix
                .ski__fix_item.fix-1
                img.ski__fix_item.fix-2(src=require('./../../assets/img/fix-1.png')) 
                img.ski__fix_item.fix-3(src=require('./../../assets/img/fix-2.png')) 
        .creation__ski_item
            img.ski__back(src=require('./../../assets/img/ski2-back.png'))
            img.ski__front(src=require('./../../assets/img/ski2-front.png'))
            .ski__fix
                .ski__fix_item.fix-1
                img.ski__fix_item.fix-2(src=require('./../../assets/img/fix-1.png')) 
                img.ski__fix_item.fix-3(src=require('./../../assets/img/fix-2.png')) 
    .creation__fixations
        .creation__fixations__title Choisissez votre fixation
        button.creation__fixations__item.active(data-price="699.00")
            span sans
        button.creation__fixations__item(data-price="1078.00")
            img(src=require('./../../assets/img/fix-1.png'))
        button.creation__fixations__item(data-price="978.00")
            img(src=require('./../../assets/img/fix-2.png'))     
    .creation__more
        a(href="https://shop.atomic.com/fr-fr/products/backland-bent-chetler-aa2684.html", target="_blank")
            |Acheter